accelerate
auto_gptq
datasets
flash1dkmeans
fschat
gradio
hyperopt
lm_eval
numba
numpy
PyYAML
ray
scikit_learn
setuptools
shortuuid
torch
tqdm
transformers
bert-score
git+https://github.com/google-research/bleurt.git